.tangram-suggestion-main {

}
.tangram-suggestion {
    @apply bg-white border border-gray-300 shadow rounded py-2 mt-2;
    & table {
        & tr {
            & td {
                @apply py-2 text-sm !important;
            }
        }
    }
    & .tangram-suggestion-current {
        @apply bg-gray-200 text-blue-900;
    }
    & .route-icon {
        @apply pl-0 bg-none !important;
    }
}
