.n-tree-copy-point {
  position: absolute;
  right: -22px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-tree-copy-point-child {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.n-tree-copy .n-tree-copy-node-wrapper {
  padding: 0;
}
.n-tree-copy .n-tree-copy-node {
  align-items: center;
  height: 38px;
}
.n-tree-copy .n-tree-copy-node-indent {
  margin-left: 10px;
  margin-right: 14px;
  height: 35px;
  border-left: 1px dashed #999;
  position: relative;
  flex-shrink: 0;
}
.n-tree-copy .n-tree-copy-node-indent-hide {
  border-left: 1px dashed transparent;
}
.n-tree-copy .n-tree-copy-node-indent-half {
  border-left: 1px dashed #999;
  height: 28px;
  margin-top: -28px;
  .n-tree-copy-node-indent-right {
    margin-top: 15px;
  }
}
.n-tree-copy .n-tree-copy-node-indent-top {
  height: 38px;
  margin-top: -18px;
  .n-tree-copy-node-indent-right {
    margin-top: 9px;
  }
}
.n-tree-copy .n-tree-copy-node-indent-top-more {
  height: 48px;
  margin-top: -9px;
  .n-tree-copy-node-indent-right {
    margin-top: 5px;
  }
}
.n-tree-copy .n-tree-copy-node-indent-right {
  position: absolute;
  width: 14px;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px dashed #999;
  width: 14px;
}
.n-tree-copy .n-tree-copy-node-switcher {
  margin-right: 3px;
  width: auto;
  margin-right: 24px;
}
.n-tree-copy .n-tree-copy-node-switcher .n-tree-copy-node-switcher__icon {
  height: 38px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #999;
  }
}
