/*! @import */
body {
    overflow: hidden;
}

.arco-btn:focus {
  @apply outline-none;
}

.arco-modal-simple {
    @apply p-4;
    .arco-modal-header {
        margin-bottom: 5px;

    }
    .arco-modal-title {
        @apply justify-start;
        .arco-modal-title-icon {

        }
        .arco-icon {
        }
    }
    .arco-modal-body {
        @apply ml-7 text-gray-600;
    }
    .arco-modal-footer {
        @apply text-right mt-4;
        .arco-btn {
        }
    }
}

.arco-form-item-label-required-symbol {
    svg {
        @apply inline mr-1;
    }
}

.app-tree {
    .arco-tree-node-title-text {
        @apply flex flex-grow items-center;
    }
    .arco-tree-node-title {
        @apply py-0;
    }
}

.file-manage {
  .manage-sidebar {
    .add {
      display: none;
    }
    &:hover {
      .add {
        display: block;
      }
    }
    .cate-item {
      .del {
        opacity: 0;
        transition: opacity 0.2s;
      }
      &:hover {
        .del {
          opacity: 1;
        }
      }
    }

  }
}


.app-tab-average {
    .arco-tabs-nav-tab {
        @apply flex-grow w-full;
    }
    .arco-tabs-nav-tab-list {
        @apply flex-grow flex;
    }
    .arco-tabs-tab {
        @apply flex-1 flex justify-center;
    }
}

.app-collapse-full {
    @apply flex flex-col;
    .arco-collapse-item {
        @apply flex-none flex flex-col;
        .arco-collapse-item-header {
            @apply flex-none;
        }
        .arco-collapse-item-content {
            background-color: transparent;
            @apply flex-grow h-10 overflow-y-auto overflow-x-hidden px-0;
        }
        .arco-collapse-item-content-box {
            @apply h-full;
        }
    }
    .arco-collapse-item-active {
        @apply flex-grow h-10;
    }
}

.app-list-small {
    .arco-list-header {
        font-size: 14px;
        padding: 5px 10px;
    }
    .arco-list-content {
        .arco-list-item {
            padding: 5px 10px;
        }
    }
}

/**
 * fix bug 临时解决
 */
.arco-cascader-panel-column {
    z-index: 1 !important;
}

.overlay {
    overflow:auto;
    overflow: overlay;
}

.app-scrollbar:hover::-webkit-scrollbar-thumb {
    @apply bg-opacity-30;
}

.app-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.app-scrollbar::-webkit-scrollbar-thumb {
    @apply transition-all bg-black bg-opacity-0;
    border-radius: 5px;
}

.app-scrollbar::-webkit-scrollbar-track {
    background: none;
}




